label {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
#num2 {
  margin-left: 30px;
  width: 61%;
border-radius: 5px;
  height: 30px;
  background-color: rgb(196, 228, 255);
  margin-bottom: 30px;
}
#num1 {
  margin-left: 35px;
  width: 61%;
border-radius: 5px;

  height: 30px;
  background-color: rgb(196, 228, 255);

  margin-bottom: 30px;

}
h1{
  align-items: center;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#opr{
  margin-left: 30px;
  width: 61%;
  height: 35px;
  background-color: rgb(196, 228, 255);
border-radius: 5px;
border: 2px solid black;
  margin-bottom: 30px;

}
#res {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}